/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(https://bit.ly/2UE24kP);
    background-size: cover;
    background-position: center;
    backface-visibility:visible ;
    overflow-x: hidden;
}